<div class="sides">
    <div class="sides__container">
        <div class="sides__main">
            <div class="sides__title">Strong side:</div>
            <div class="sides__elements">
                <div class="sides__info strong-div">
                    <div class="side__text strong-text">Analytics</div>
                </div>
                <div class="sides__info strong-div">
                    <div class="side__text strong-text">Perfectionism</div>
                </div>
                <div class="sides__info strong-div">
                    <div class="side__text strong-text">Analytics</div>
                </div>
            </div>
        </div>

        <div class="sides__main">
            <div class="sides__title">Weak side:</div>
            <div class="sides__elements">
                <div class="sides__info weak-div">
                    <div class="side__text weak-text">Perfectionism</div>
                </div>
                <div class="sides__info weak-div">
                    <div class="side__text weak-text">Analytics</div>
                </div>
            </div>
        </div>
    </div>
</div>
