@import 'vars';
.sides{
    &__container{
        background-color: var(--body-color);
        padding: 0 30px 20px 30px;
    }
    &__title{
        font-family: Roboto;
        font-weight: 500;
        font-size: 14px;
        color: var(--title-color);
        margin-bottom: 8px;
    }
    &__elements{
        display: flex;
        justify-content: start;
        gap: 5px;
        margin-bottom: 20px;
    }
    &__info{
        font-family: Roboto;
        font-weight: 500;
        font-size: 12px;
        padding: 8px 10px;
        border-radius: 8px;
        max-width: 96px;

    }
}
.strong-div{
    background: var(--third-component-color);
}
.strong-text{
    color: var(--third-name-color);
}

.weak-div{
    background: var(--second-object-color);
}
.weak-text{
    color: var(--text-sides-color);
}