@import 'vars';
.header{
    padding: 0 29px;
    background: var(--body-color);
    padding-top: 54px;
    padding-bottom: 14px;
}
.elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--title-color);
}
.header-icons{
    color: var(--header-icons-color);
    transition: .2s all ease-in-out;

    &:hover{
        transform: scale(1.2); 
        color: var(--title-color);
    }
}
.is-active{
    display: none;
}