<div class="progress">
    <div class="progress__container">
        <div class="progress__name-title">
            <div class="progress__title">
                Your overall progress is<span class="percent">60%</span>
            </div>
        </div>
        <div class="progress__elements">
            <div class="progress__main calendar-div">
                <div class="progress__name">
                    <span class="progress__icon calendar-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 4H5C3.89543 4 3 4.89543 3 6V20C3 21.1046 3.89543 22 5 22H19C20.1046 22 21 21.1046 21 20V6C21 4.89543 20.1046 4 19 4Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M16 2V6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M8 2V6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3 10H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                    </span>
                    <div class="progress__anagraph calendar-anagraph">
                        <a href="/">How was your day?</a>
                    </div>
                </div>
                <div class="progress__arrow">
                    <div class="arrow-icon calendar-arrow">
                        <a href="/" class="arrow-link">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 1.5L5 5L1.5 8.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                        </a>
                    </div>
              </div>
                <div class="progress__description calendar-description">Lorem ipsum dolor sit amet, consectetur adipscing elit. Ut vel odio en urna ultrice...</div>
            </div>
            <div class="progress__main clock-div">
                <div class="progress__name">
                    <span class="progress__icon clock-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M12 6V12L16 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                          </svg>
                    </span>
                    <div class="progress__anagraph">
                        <a href="/" class="clock-anagraph">Current Transist: 3rd House</a></div>
                </div>
                <div class="progress__arrow">
                    <div class="arrow-icon">
                        <a href="/" class="clock-arrow">
                            <svg width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.5 1.5L5 5L1.5 8.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                              </svg>
                        </a>
                    </div>
                </div>
                <div class="progress__description clock-description">This is demonstrate siblings, hobbies, efforts, confidence, friends and short tr...</div>
            </div>
        </div>
    </div>
</div>

