@import 'vars';
.tasks{
    background-color: var(--body-color);
    padding: 0px 30px 0px 30px;

    &__title{
        font-family: Roboto;
        font-weight: 300;
        font-size: 24px;
        color: var(--title-color);
        margin-bottom: 15px;
    }
    &__elements{
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    &__info{
        max-width: 98px;
        align-items: start;
        border-radius: 15px;
        padding: 12px 12px 12px 8px;
    }
    &__name{
        font-family: Roboto;
       width: 74px;
        margin-bottom: 18px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 10px;

    }
    &__number{
        font-family: Roboto;
        font-weight: 500;
        font-size: 24px;

    }
}
.astromeditation-div{
    background-color: var(--first-component-color);
}
.astromeditation-name{
    color: var(--first-name-color);
}
.astromeditation-number{
    color: var(--first-number-color);
}

.sleep-div{
    background-color: var(--second-component-color);
}
.sleep-name{
    color: var(--secont-name-color);
}
.sleep-number{
    color: var(--second-number-color);
}

.mantra-div{
    background: var(--third-component-color);
}
.mantra-name{
    margin-bottom: 30px;
    color: var(--third-name-color);
}
.mantra-number{
    color: var(--third-name-color);
}