<div class="tasks">
    <div class="tasks__container">
        <div class="tasks__title">
            Daily Tasks:
        </div>
        <div class="tasks__elements">
            <div class="tasks__info astromeditation-div">
                <div class="tasks__name astromeditation-name">
                    Daily astromeditation
                </div>
                <div class="tasks__number astromeditation-number">
                    3
                </div>
            </div>

            <div class="tasks__info sleep-div">
                <div class="tasks__name sleep-name">
                    Daily sleep astromeditation
                </div>
                <div class="tasks__number sleep-number">
                    1
                </div>
            </div>

            <div class="tasks__info mantra-div">
                <div class="tasks__name mantra-name">
                    Daily mantra
                </div>
                <div class="tasks__number mantra-number">
                    2
                </div>
            </div>
        </div>
    </div>
</div>
