$bg: orange;
:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "SF Pro Text", sans-serif;
    --body-color: #fff;
    --title-color: #595085;
    --header-icons-color: #8B97A8;
    --first-component-color: #f6f5fb;
    --first-name-color: #61598b;
    --first-number-color: #403572;
    --second-component-color: #fff4f4;
    --secont-name-color: #ff3726;
    --second-number-color: #ff5648;
    --third-component-color: #f5f9f9;
    --third-name-color: #479696;
    --border-color: #c93f8d;
    --second-object-color: #fff4f4;
    --second-desc-color: #a27a7a;
    --first-icon-color: #3D3270;
    --fourth-desc-color: #8daeae;
    --third-desc-color: #e791be;
    --text-sides-color: #ff7e73;
  }